/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/SvgBackground.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.SvgBackground_container__kNMWz {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.SvgBackground_backgroundSvg__tfCes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.SvgBackground_content__mFJkT {
  position: relative;
  z-index: 1;
}

